<% content_for :header do %><% end %>

<img src="images/0007.png" class="sreenshot" alt="Comenta tu código"/>

<div class="article">
  <h1>Comenta tu código</h1>
  
  <p>Casi en cada curso/charla/cerveza en la que sale el tema de desarrollo acabo hablando siempre de la importancia de comentar el código.</p>
  
  <p>Comentar no significa contar tu vida. Se trata de escribir mensajes de un desarrollador hacia otro desarrollador con información que resulte práctica para entender qué hace un determinado cachito de código.</p>
  
  <p>Si trabajas en equipo son útiles para facilitar la comprensión de todo lo escrito, y si trabajas sólo es igual de importante. Si tienes que retomar tu propio proyecto unas semanas o meses más tarde es posible que no te acuerdes cuál fue el razonamiento que seguiste para escribir esa linea de código que 'aparentemente sólo es un ajuste'.</p>
  
  <p>
    <a href="004-conoce-tus-herramientas.html" class="button">« anterior</a>
    <a href="006-elegir-nombres.html" class="button">siguiente »</a>
  </p>

</div>
