<% content_for :header do %><% end %>

<a href="http://gamovr.mx981.com/post/1897"><img src="images/0005.png" class="sreenshot" alt="Frameworks"/></a>

<div class="article">
  <h1>Trabajar con frameworks javascripts</h1>
  
  <p>Lo más importante de los frameworks javascript, da igual cuál, es que nos proveen de una capa de abstracción entre el código que vamos a escribir y los navegadores que van a interpretar nuestro código. Esto nos facilita un poquito el trabajo (<a href="http://sean-tron.deviantart.com/art/mosh-109253636">rock on!</a>).</p>
  
  <p><strong>NO siempre es necesario trabajar con un framework</strong>, habría que valorar si nuestro proyecto realmente necesita un framework, incluir una librería de (xxx)Kb para mostrar/ocultar una capa tal vez no sea muy buena idea.</p>
  
  <p>Si ya hemos decidido que vas a usar un framework hay algunos factores que vas a tener que valorar:</p>
  
  <ul>
    <li>¿El proyecto usa ya algún framework? Si lo usa deberíamos de valorar si es una buena idea cambiarlo.</li>
    <li>¿Cubre todas nuestras necesidades? Deberíamos de averiguarlo para evitar sorpresas futuras :)</li>
    <li>La madurez y la comunidad que respalde al framework.</li>
    <li>¿Es extensible?</li>
    <li>¿Nos gusta el estilo de su API?</li>
  </ul>
  
  <p>A mi personalmente (en el tiempo en el que escribo esto) me gusta trabajar con jQuery.</p>
  
  <p>Una notita sobre la extensibilidad. Alrededor de la mayoría de frameworks hay siempre librerías o plugins que nos permiten añadir funcionalidades con bastante facilidad. Esto puede ser un arma de doble filo que nos puede traer de cabeza en algún momento.</p>
  
  <p>
    <a href="002-evolucion.html" class="button">« anterior</a>
    <a href="004-conoce-tus-herramientas.html" class="button">siguiente »</a>
  </p>

</div>
