<% content_for :header do %><% end %>

<img src="images/0013.png" class="sreenshot" alt="Testea!"/>

<div class="article">
  <h1>Testea!</h1>
  
  <p>Hemos hablado de cuidar detalles, de reusar... Para que todo eso pase vamos a dedicar un montón de tiempo, así que qué mejor que redondear todo nuestro trabajo haciendo unos tests para garantizar que un pequeño cambio no va a provocar que algo deje de funcionar.</p>
  
  <p>Existen frameworks para realizar tests a nuestro código javascript. Entre otros:</p>
  
  <ul>
    <li><a href="http://github.com/drnic/jsunittest/">JsUnitTest</a></li>
    <li><a href="http://developer.yahoo.com/yui/yuitest/">YUI Test</a></li>
    <li><a href="http://docs.jquery.com/QUnit">QUnit</a></li>
  </ul>
  
  <p>La principal barrera que te puedes encontrar cuando quieres iniciarte en tus primeros tests es el cambio de mentalidad que exigen, sobre todo cuando vamos a testar funciones muy visuales. La sensación de no saber por dónde empezar es un poquito agobiante, pero una vez roto el hielo lo demás es más facilito.</p>
  
  <p>Mis combos favorito para testar son JsUnitTest + <a href="http://jshoulda.scriptia.net/">jShoulda</a> o JsUnitTest + <a href="http://sugartest.scriptia.net/">SugarTest</a>.</p>
  
  <p>
    <a href="010-repaint-reflow.html" class="button">« anterior</a>
    <a href="gracias.html" class="button">siguiente »</a>
  </p>

</div>
