<% content_for :header do %><% end %>

<img src="images/0002.png" class="sreenshot" alt="índice"/>

<div class="article">
  <h1>índice</h1>
  
  <p>Allá vamos!</p>
  
  <ul class="toc">
    <li>
      <a href="001-por-que.html" class="button">¿Por qué los pequeños detalles? »</a>
    </li>
    <li>
      <a href="002-evolucion.html" class="button">Evolución »</a>
    </li>
    <li>
      <a href="003-frameworks.html" class="button">Hablemos de frameworks »</a>
    </li>
    <li>
      <a href="004-conoce-tus-herramientas.html" class="button">Conoce tus herramientas »</a>
    </li>
    <li>
      <a href="005-comenta.html" class="button">Comenta! »</a>
    </li>
    <li>
      <a href="006-elegir-nombres.html" class="button">Elegir bien los nombres »</a>
    </li>
    <li>
      <a href="007-anade-funcionalidad-no-contenido.html" class="button">Añade funcionalidad, no contenido »</a>
    </li>
    <li>
      <a href="008-bucles.html" class="button">Bucles »</a>
    </li>
    <li>
      <a href="009-permite-configurar-tus-funciones.html" class="button">Permite configurar tus funciones »</a>
    </li>
    <li>
      <a href="010-repaint-reflow.html" class="button">Repaint, reflow »</a>
    </li>
    <li>
      <a href="011-testea.html" class="button">Testea! »</a>
    </li>

    <li>
      <a href="gracias.html" class="button">Gracias :)</a>
    </li>
  </ul>

</div>
