<% content_for :header do %><% end %>

<img src="images/0014.png" class="sreenshot" alt="Gracias!"/>

<div class="article">
  <h1>Muchísimas gracias!</h1>
  
  <p>Me quedo con muchísimas cosas buenas de este evento, y con la pena de no haber estado más suelto en la presentación o no haber transmitido bien algunos conceptos.</p>
  
  <p>Todo ha sido estupendo, he conocido Cáceres, la gente ha sido muy muy amable, he compartido conversaciones interesantísimas, me he hecho un road trip fantástico con la gente de <a href="http://linkingpaths.com/">linkingpaths</a> y me he sentido como en casa todo el rato.</p>
  
  <p>:)</p>
  
  <p>
    <a href="011-testea.html" class="button">« anterior</a>
  </p>

</div>
