<% content_for :header do %><% end %>

<img src="images/0009.png" class="sreenshot" alt="Funcionalidad, no contenido"/>

<div class="article">
  <h1>Añade funcionalidad, no contenido</h1>
  
  <p>Tu javascript debería de añadir únicamente funcionalidad a tu html. Si tus funciones están añadiendo toneladas de html al documento tal vez sea momento de replantearlo.</p>
  
  <p>Si las estructuras que se inyectan tienen un poquito de miga se pueden convertir en un problema a la hora de mantenerlas o de hacerlas evolucionar. Además añadir elementos al DOM provocará reflows y repaints (ya veremos un poquito más adelante) y eso es caro en términos de rendimiento.</p>
  
  <p>Si no hay más remedio que añadir ese contenido y tiene que estar disponible cuando dispongamos de javascript una solución podría ser cargarlo vía ajax.</p>
  
  <p>
    <a href="006-elegir-nombres.html" class="button">« anterior</a>
    <a href="008-bucles.html" class="button">siguiente »</a>
  </p>

</div>
