<% content_for :header do %><% end %>

<img src="images/0008.png" class="sreenshot" alt="Elegir nombres"/>

<div class="article">
  <h1>Elige bien tus nombres</h1>
  
  <p>Otra cosita obvia, pero que está muy bien tenerla en cuenta.</p>
  
  <p>A la hora de elegir nombres para tus variables y funciones hay que tratar de que sean cortitos y representativos.</p>
  
  <p>Algunos ejemplos de nombres no demasiado afortunados</p>
  
  <ul>
    <li>x1</li>
    <li>qwerty</li>
    <li>countElementsEveryTimeYouClick</li>
    <li><strong>countTwenty</strong></li>
  </ul>
  
  <p>Fijándonos en este último caso. Deberíamos de evitar que el nombre de una función describiese un valor. Si mañana en lugar de contar hasta 20 tuviésemos de contar hasta 30 deberíamos de cambiar el nombre de la función y sus llamadas, hacer una nueva o bien dejarla como está y comentar (nooooooo!!!)</p>
  
  <p>
    <a href="005-comenta.html" class="button">« anterior</a>
    <a href="007-anade-funcionalidad-no-contenido.html" class="button">siguiente »</a>
  </p>

</div>
