<% content_for :header do %><% end %>

<a href="http://www.flickr.com/photos/kitty80/95768090/"><img src="images/0003.png" class="sreenshot" alt="¿Por qué los pequeños detalles?"/></a>

<div class="article">
  <h1>¿Por qué los pequeños detalles?</h1>
  
    <p>Cuando ponemos todo el cariño en cualquier campo de nuestra vida estamos fijándonos en todos los pequeños detallitos porque nos importan los resultados.</p>
    
    <p>A mi me encanta mi trabajo, así que cuando estoy delante de un trabajo de front me encanta perderme rematando patrones de interacción, procurando que todo degrade bien, pensando qué pasaría si entramos sin js, sin css...</p>
    
    <p>Evidentemente perderte en los detalles requiere tiempo, así que lo mejor que podemos hacer es poner mucho cuidado a la hora de elaborar nuestro código para cuando nos encontremos con una funcionalidad similar poder recurrir a todo ese trabajo ya realizado.</p>
      
  <p>
    <a href="toc.html" class="button">« anterior</a>
    <a href="002-evolucion.html" class="button">siguiente »</a>
  </p>

</div>
